# Mail Configuration
MAIL_DRIVER=smtp
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl/tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TO_ADDRESS=

# Application Configuration
APP_NAME="Corpotech"
APP_URL=http://localhost
APP_ENV=local
APP_DEBUG=true